.wrapper {
  background: #eee;
  margin-bottom: 30px;

  .post__title {
    border: 1px solid black;
  }
}

.header {
  align-items: center;
  display: flex;
  // justify-content: space-between;
  padding: 20px;

  &:hover {
    cursor: pointer;
  }

  small {
    vertical-align: middle;
  }
}

.body {
  padding: 0 20px 20px;
}
